<div class="shopping-cart">
  <h1>Shopping cart</h1>
  <button [routerLink]="['/shop/shopping-cart/history']" class="history-button">History</button>
  <div *ngIf="dataSource.length === 0; else shopping_cart">
    <h3>There are no items in the shopping cart at the moment.</h3>
  </div>
  <ng-template #shopping_cart>
    <table mat-table
           [dataSource]="dataSource" multiTemplateDataRows
           class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column | uppercase}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row"
                  (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <img [src]="element.imageUrl"/>
            </div>
            <div class="detail-right">
              <div class="example-element-description">
                {{element.description}}
              </div>
              <form [formGroup]="formGroup" (ngSubmit)="addToCart(element)" autocomplete="off" ngNativeValidate>
                <mat-form-field appearance="outline">
                  <mat-label>Quantity</mat-label>
                  <input min="1" formControlName="quantity" type="number" matInput>
                </mat-form-field>
                <button type="submit">Update Quantity</button>
                <button (click)="removeProductFromCart(element)" type="button">Remove Item</button>
              </form>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    <mat-card>
      <div class="total-container">
        <h3>Total</h3>
        <h3>{{totalCostOfProducts | currency}}</h3>
      </div>
      <button (click)="checkout()" type="button">Checkout</button>
    </mat-card>
  </ng-template>
</div>
