form {
  display: flex;
  flex-direction: column;
}

form button {
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button button {
  font-weight: bold;
  background-color: transparent;
  border: none;
}
.action-button button:first-child {
  margin-right: 0.5em;
}

.action-button button:nth-child(2) {
  margin-left: 0.5em;
}
