.product-details {
  padding: 2% 10%;
  display: flex;
  justify-content: space-between;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 50%;

}

.product-image > img {
  height: 60vh;
}

.product-info {
  width: 50%;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color: black;
  color: white;
  padding: 1.5%;
  width: 50%;
}
.product-name{
  font-weight: bold;
}
.category-name{
  color: #a2a2a2;
  text-transform: capitalize;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
}
form mat-form-field {
  width: 20%;
}
